body {
    background-color: rgb(29, 29, 29);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #efddb2;
}

.header {
    padding-bottom: 75px;
}

.form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.name {
    color: #efddb2;
    height: 35px;
    background: #449187;
    padding: 15px;
 
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 300;
}

.input {
    height: 35px;
    border: none;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.btn {
    background: #efddb2;
    color: #449187;
    border: none;
    outline: none;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.messages > li {
    padding: 10px;
}

.messages > li > span {
    font-weight: 500;
}
/*у нечетных сообщений будет затемненный фон*/
.messages li:nth-child(odd) {
    background:rgb(17, 17, 17);
}