* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-bottom: 75px;
}

.form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(206, 206, 206);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.name {
    height: 35px;
    background: rgb(175, 175, 175);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(47, 47, 48);
    font-size: 14px;
    font-weight: 300;
}

.input {
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}

.btn {
    background: rgb(245, 118, 14);
    border: none;
    outline: none;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.messages > li {
    padding: 10px;
}

.messages > li > span {
    font-weight: 500;
}
/*у нечетных сообщений будет затемненный фон*/
.messages li:nth-child(odd) {
    background:rgb(244, 244, 244);
}